<div class="col-xl-12">
  <h3>
    <i class="fa fa-dashboard"></i>
    Dashboard</h3>
<div class="container-fluid">

  <br>
<div class="row">


<div class="card text-white bg-primary mb-3 col-sm-3">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Primary card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  <div class="col-sm-1"></div>
<div class="card text-white bg-secondary mb-3 col-sm-3">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Secondary card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  <div class="col-sm-1"></div>
<div class="card text-white bg-success mb-3 col-sm-3">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Success card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

</div>
  <div class="col-sm-12">
    <img src="../../../assets/chart.png" id="image1"  alt="Responsive image">
  </div>
</div>
</div>
