<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
  <!--<a class="navbar-brand" href="#">Navbar</a>-->
  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--<span class="navbar-toggler-icon"></span>-->
  <!--</button>-->
  <!--<div class="collapse navbar-collapse" id="navbarNav">-->
    <!--<ul class="navbar-nav">-->
      <!--<li class="nav-item active">-->
        <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">Features</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">Pricing</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</nav>-->

<ul class="sidebar">
  <li routerLink="/main/dashboard">Home</li>
  <li routerLink="/main/customer">Customer</li>
  <li routerLink="/main/item">Item</li>
  <li routerLink="/main/order">Orders</li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>

</ul>
<input type="checkbox" id="sidebar-btn" class="sidebar-btn" checked/>
<label for="sidebar-btn"></label>
<div style="margin-left: 340px" class="container">
  <router-outlet></router-outlet>
</div>

<!------ Include the above in your HEAD tag ---------->

<!--
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
  <title>Sidebar template</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">


</head>

<body>
<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">pro sidebar</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
               alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">Supun
            <strong>Nanayakkara</strong>
          </span>
          <span class="user-role">Administrator</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
      &lt;!&ndash; sidebar-header  &ndash;&gt;
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      &lt;!&ndash; sidebar-search  &ndash;&gt;
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li routerLink="dashboard" class="sidebar-dropdown">
            <a>
              <i class="fa fa-tachometer-alt"></i>
              <span>Dashboard</span>
              <span class="badge badge-pill badge-warning">New</span>
            </a>
          </li>
          <li routerLink="customer" class="sidebar-dropdown">
            <a>
              <i class="fa fa-shopping-cart"></i>
              <span>Customer</span>
              <span class="badge badge-pill badge-danger">3</span>
            </a>

          </li>
          <li routerLink="item" class="sidebar-dropdown">
            <a>
              <i class="far fa-gem"></i>
              <span>Item</span>
            </a>
          </li>
          <li routerLink="order" class="sidebar-dropdown">
            <a>
              <i class="fa fa-chart-line"></i>
              <span>Order</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fa fa-globe"></i>
              <span>Setting</span>
            </a>
          </li>

        </ul>
      </div>
      &lt;!&ndash; sidebar-menu  &ndash;&gt;
    </div>
    &lt;!&ndash; sidebar-content  &ndash;&gt;
    <div class="sidebar-footer">
      <a>
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a>
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a>
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a>
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>
  &lt;!&ndash; sidebar-wrapper  &ndash;&gt;
  <main class="page-content">
    <div class="container-fluid">
<router-outlet></router-outlet>
    </div>

  </main>
  &lt;!&ndash; page-content" &ndash;&gt;
</div>
&lt;!&ndash; page-wrapper &ndash;&gt;

</body>

</html>
-->




