
<ul class="sidebar">
  <li>
  <img src="../../../assets/02.jpeg" alt="..." class="img-thumbnail"
       style="height: 100px;height: 100px; border-radius: 20%; margin-left: 50px ; text-align: center; ">
    <br><br>
    <p style="text-align: center">Supun Nanayakkara</p>
    <p style="text-align: center"><i class="fa fa-circle" style="color: green"></i> online</p>
  </li>

  <li routerLink="/main/dashboard"><i class="fa fa-dashboard"></i> Dashboard</li>
  <li routerLink="/main/order"><i class="fa fa-shopping-cart"></i> Add Orders</li>
  <li routerLink="/main/cust"><i class="fa fa-user"></i> Customers Details</li>
  <li routerLink="/main/item"><i class="fa fa-tags"></i> Items Details</li>
  <li><i class="fa fa-bar-chart"></i> Reports</li>
  <li><i class="fa fa-cog"></i> Settings</li>
  <li><i class="fa fa-power-off"></i> Logout</li>

</ul>
<input type="checkbox" id="sidebar-btn" class="sidebar-btn" checked/>
<label for="sidebar-btn"></label>
<div style="margin-left: 340px" class="container">

  <router-outlet></router-outlet>
</div>





