
<ul class="sidebar">
  <li>
  <img src="../../../assets/02.jpeg" alt="..." class="img-thumbnail"
       style="height: 140px;height: 140px; border-radius: 100%; margin-left: 60px ; text-align: center; ">
    <br><br>
    <h5 style="text-align: center">Supun Nanayakkara</h5>
  </li>

  <li routerLink="/main/dashboard">Home</li>
  <li routerLink="/main/cust">Customer</li>
  <li routerLink="/main/item">Item</li>
  <li routerLink="/main/order">Orders</li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>

</ul>
<input type="checkbox" id="sidebar-btn" class="sidebar-btn" checked/>
<label for="sidebar-btn"></label>
<div style="margin-left: 340px" class="container">

  <router-outlet></router-outlet>
</div>





