<div>
  <br>
  <div class="col-xl-12">
    <h2>Item Details</h2>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <form>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="name">Item Name</label>
              <input type="text" class="form-control" id="name" autocomplete="off" placeholder="Full Name" required pattern="">
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" autocomplete="off" placeholder="Description" required pattern="">
          </div>
          <div class="form-group">
            <label for="unitprice">Unit Price</label>
            <input type="number" class="form-control" id="unitprice" autocomplete="off" placeholder="Unit Price" required pattern="">
          </div>
          <div class="form-group">
            <label for="qty">Qty</label>
            <input type="number" class="form-control" id="qty" autocomplete="off" placeholder="Qty on Hand" required pattern="">
          </div>
          <div class="row">
            <button style="margin-left: 13px" type="submit" class="btn btn-success col-sm-3">Save</button>
            <button style="margin-left: 15px" type="submit" class="btn btn-primary col-sm-3">Update</button>
            <button style="margin-left: 15px" type="submit" class="btn btn-danger col-sm-3">Delete</button>
          </div>

        </form>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-7">
        <br>
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">code</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Qty</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
