<div>
  <div class="col-xl-12">
    <h3>
      <i class="fa fa-tags"></i>
      Items Details</h3>
    <br><br><br>
    <div class="row">
      <div class="cards col-sm-4 card ">
        <p class="p1">Item Form</p>
        <form>

          <div class="form-group">
            <label class="label1" for="name">Item Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="itemDTO.name" name="name" autocomplete="off"
                   placeholder="Item Name" required minlength="4">
          </div>
          <div class="form-group">
            <label class="label1" for="price">Unit Price</label>
            <input type="text" class="form-control" id="price" [(ngModel)]="itemDTO.price" name="price"
                   autocomplete="off" placeholder="Unit Price" required minlength="2" pattern="\d+(\.\d{2})?">
          </div>
          <div class="form-group">
            <label class="label1" for="qty">Qty</label>
            <input type="number" class="form-control" id="qty" [(ngModel)]="itemDTO.qty" name="qty" autocomplete="off"
                   placeholder="Qty on Hand" required minlength="2">
          </div>
          <div class="row">
            <button  type="submit" *ngIf="!isEdit" (click)="addItem()"
                    class="btn1 btn btn-success col-sm-3">Save
            </button>
            <button type="submit" *ngIf="isEdit" (click)="updateItem()"
                    class="btn1 btn btn-primary col-sm-3">Update
            </button>
            <button type="submit" *ngIf="isEdit" (click)="deleteItem(itemDTO.code)"
                    class="btn1 btn btn-danger col-sm-3">Delete
            </button>
          </div>

        </form>
      </div>
      <div class="col-sm-1"></div>
      <div class="cards col-sm-7 card">
        <p class="p1">Item Table</p>
        <br>
        <table id="itemtable" class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Item code</th>
            <th scope="col">Item Name</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Item Qty</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of itemList" (click)="loadItem(item)">
            <td>{{item.code}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.qty}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
