<div>
  <br>
  <div class="col-xl-12">
    <h2>CustomerDTO Details</h2>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <form>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="name">Full Name</label>
              <input type="text" class="form-control" id="name" [(ngModel)]="customerDTO.name" autocomplete="off" placeholder="Full Name" required minlength="2">
            </div>
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" [(ngModel)]="customerDTO.address" autocomplete="off" placeholder="Address" required minlength="2"
            >
          </div>

          <div class="form-group">
            <label for="salary">Mobile Number</label>
            <input type="number" class="form-control" id="salary" autocomplete="off" [(ngModel)]="customerDTO.mobile" placeholder="Mobile Number" required minlength="2"
            >
          </div>
          <div class="row">
            <button style="margin-left: 13px" type="submit" *ngIf="!isEdit" (click)="addCustomer()" class="btn btn-success col-sm-3">Save
            </button>
            <button style="margin-left: 15px" type="submit" *ngIf="!isEdit" (click)="updateCustomer()" class="btn btn-primary col-sm-3">Update</button>
            <button style="margin-left: 15px" type="submit" *ngIf="!isEdit" (click)="deleteCustomer(customerDTO.cid)" class="btn btn-danger col-sm-3">Delete</button>
          </div>

        </form>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-7">
        <br>
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Number</th>
            <th scope="col">Salary</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let customer of customerList" (click)="loadCustomer(customer)">
            <td>{{customer.cid}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.mobile}}</td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
