<div>
  <br>
  <div class="col-xl-12">
    <h2>Place Orders</h2>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <form>
          <div class="form-group">
            <div class="form-group col-sm-4">
              <label for="customercombo">Customer Name</label>
              <select class="form-control" id="customercombo">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div class="form-group">
              <div class="form-group col-sm-4">
                <label for="inputAddress2">Item</label>
                <input type="text" class="form-control" id="inputAddress2" autocomplete="off">
              </div>

              <div class="form-group col-sm-4">
                <label for="inputAddress2">Unit Price</label>
                <input type="text" class="form-control" id="inputAddress2" autocomplete="off">
              </div>

              <div class="form-group col-sm-4">
                <label for="inputAddress2">QTY</label>
                <input type="text" class="form-control" id="inputAddress2" autocomplete="off">
              </div>

              <div class="form-group col-sm-4">
                <label for="inputAddress2">Total Price</label>
                <input type="text" class="form-control" id="inputAddress2" autocomplete="off">
              </div>

            </div>

          <div class="col-md-12" style="text-align: right">
            <button type="submit" class="btn btn-primary col-sm-2">Add</button>
          </div>
        </form>
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-12">
        <br><br><br>
        <table class="table table-hover col-sm-8">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>

        <div class="col-md-12" style="text-align: right">
          <button type="submit" class="btn btn-primary col-sm-3">Submit</button>
        </div>

      </div>
    </div>

  </div>
</div>
