#ortable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 300px;
}

#ortable td, #ortable th {
  border: 1px solid #ddd;
  padding: 8px;
  color: white;
}

#ortable tr:nth-child{background-color: #f2f2f2; color: white}

#ortable tr:hover {background-color: #ddd; color: white}

#ortable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #263238;
  color: white;
}
