<div>
  <br>
  <div class="col-xl-12">
    <h2>Place Orders</h2>
    <br>
    <div class="row">
      <div class="col-sm-3">
        <form>
          <div class="form-group">
            <div class="form-group">
              <label for="customercombo">Customer Name</label>
              <select class="form-control" id="customercombo" required pattern="">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="form-group">
              <div class="form-group">
                <label for="itemcombo">Item Name</label>
                <select class="form-control" id="itemcombo" required pattern="">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
              <div class="form-group">
                <label for="unitpriceorder">Unit Price</label>
                <input type="text" class="form-control" id="unitpriceorder" autocomplete="off">
              </div>

              <div class="form-group">
                <label for="qtyorder">QTY</label>
                <input type="text" class="form-control" id="qtyorder" autocomplete="off" required pattern="">
              </div>

              <div class="form-group">
                <label for="totalitemprice">Total Price</label>
                <input type="text" class="form-control" id="totalitemprice" autocomplete="off">
              </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Add Item</button>
            </div>
            </div>

        </form>


      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-8">
        <br>
        <table class="table table-hover col-sm-8">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item Name</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Qty on hand</th>
            <th scope="col">Total Price</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>


      </div>
    </div>

    <div class="col-sm-12" style=" border-color: #962d22; background-color:aliceblue ;height: 140px">
      <br>
      <form>

        <div class="row">

          <div class="form-group col-sm-3">
            <label for="totalamount">Total Amount</label>
            <input type="number" class="form-control" id="totalamount" autocomplete="off">
          </div>

          <div class="form-group col-sm-3">
            <label for="givecash">give cash</label>
            <input type="number" class="form-control" id="givecash" autocomplete="off" required pattern="">
          </div>

          <div class="form-group col-sm-3">
            <label for="balance">Balance</label>
            <input type="number" class="form-control" id="balance" autocomplete="off">
          </div>
          <div class="form-group col-sm-3">
            <button type="submit" class="btn btn-success" style="margin-top: 30px">Place Order</button>
          </div>
        </div>

      </form>


    </div>

  </div>
</div>
