<div>
  <div class="col-xl-12">
    <h3
      style="color: white; width: 115.89%; background-color: #263238; margin-left: -105px;height: 60px">
      <i class="fa fa-shopping-cart"></i>
      Place Order</h3>
    <br>
    <br>
    <div class="row">
      <div style=" background-color: #263238; border: 5px solid #263238; border-radius: 15px; height: 580px"
           class="col-sm-4 cart">
        <p style="color: white;text-align: center; font-size: 30px; font-weight: 400">Order Form</p>
        <form>
          <div class="form-group">
            <div class="form-group">
              <label style="color: white" for="customercombo">Customer Name</label>
              <select class="form-control" [(ngModel)]="customerId" name="customers" id="customercombo" required>
                <option [value]="customers.id" *ngFor="let customers of customerList">{{customers.name}}</option>
              </select>
            </div>
          </div>
            <div class="form-group">
              <div class="form-group">
                <label style="color: white">Item Name</label>
                <select [(ngModel)]="itemdto.code" name="item"  class="form-control" id="inputState" (change)="setPrice(itemdto.code)"
                        >
                  <option [value]="item.code" *ngFor="let item of itemList">
                    {{item.name}}
                  </option>
                </select>
              </div>
            </div>
          <div class="form-group">
            <div class="form-group">
              <label style="color: white" for="unitpriceorder">Unit Price</label>
              <input type="text" [(ngModel)]="itemdto.price" class="form-control" id="unitpriceorder" autocomplete="off">
            </div>

            <div class="form-group">
              <label style="color: white" for="qtyorder">QTY</label>
              <input type="text" class="form-control" id="qtyorder" autocomplete="off" required pattern="">
            </div>

            <div class="form-group">
              <label style="color: white" for="totalitemprice">Total Price</label>
              <input type="text" class="form-control" id="totalitemprice" autocomplete="off">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Add Item</button>
            </div>
          </div>

        </form>


      </div>
      <div class="col-sm-1"></div>
      <div style="background-color: #263238; border: 5px solid #263238; border-radius: 15px" class="col-sm-7 card">
        <p style="color: white;text-align: center; font-size: 30px; font-weight: 400">Add Items Table</p>
        <br>
        <table id="ortable" class="table table-hover col-sm-12">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item Name</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Qty on hand</th>
            <th scope="col">Total Price</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>

        <div class="col-sm-12" style=" background-color: #263238; border: 5px solid #263238; border-radius: 15px">
          <form>

            <div class="row">

              <div class="form-group col-sm-3 ">
                <label style="color: white" for="totalamount">Total Amount</label>
                <input type="number" class="form-control" id="totalamount" autocomplete="off">
              </div>
              <div class="col-sm-1"></div>

              <div class="form-group col-sm-3 ">
                <label style="color: white" for="givecash">give cash</label>
                <input type="number" class="form-control" id="givecash" autocomplete="off" required pattern="">
              </div>
              <div class="col-sm-1"></div>
              <div class="form-group col-sm-3 ">
                <label style="color: white" for="balance">Balance</label>
                <input type="number" class="form-control" id="balance" autocomplete="off">
              </div>

            </div>
            <div class="form-group col-sm-12">
              <button type="submit" class="btn btn-success" style="width: 50% ;margin-top: 20px; margin-left: 130px">Place Order</button>
            </div>
          </form>


        </div>

      </div>
    </div>



  </div>
</div>
